 body {
     background:black ;
   
    
}

.tudo{ 
     background:midnightblue ;
     margin: 0px auto;
     width: 1000px;
     padding: 20px;
}


.cx1{

 position:relative;
 left:auto;
 width: 100%; 
 
}
 .txt {
   color: azure;
   right: 5px;
   top: 20px;
   position:relative;
}
.txt p {
   font-size: 30px;
}
#cx2 {

text-align: center;
display: table-cell;
vertical-align: middle;
color: azure;
}



.menu{
   transition: 0.5s all;
   background: rgb(104, 104, 221);
   padding:2px;
   color: yellow;
   font-family:Arial;
   font-size: 25px;
   position: relative;left: 245px; 
}


.menu:hover {
   transition: 0.5s all;
   background: #5f9ea0;
   padding:5px;
   color: red;
}
#home .home a,
#contato .contato a,
#quem .quem a{
  background-color: blue;
  color: #CCFF00;
}



.texto {
    font-family:Arial;
     text-align:center;
      color: #CCFF00; 
} 






h2{
  font-family: Arial;
  font-size:15px;
  color:white;
  text-align:center;
}

#cx2{
    Width: 800px; 
    background: mediumblue;
    position:relative;
	padding:80px;
	
}

p{font-family:Arial;
  font-size:16pt;
}

h3{font-family:Arial;
    font-size:20pt;
    color: green;
}

h4{font-family:Arial;
    font-size:30pt;
    color: blue;
}

.titulo{font-family:Verdana;
    font-size:25pt;
    color: rgb(255, 0, 0);
}
